.masthead {
  position: relative;
  background-color: $gray-800;
  background: url('/assets/images/bg-masthead.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  padding-top: 4rem;
  padding-bottom: 4rem;

  font-size: 1rem;
  text-align: center;

  &__overlay {
    position: absolute;
    background-color: $gray-900;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }

  h1 {
    font-size: 2.25rem;
    text-align: center;
    font-weight: 600;
  }

  @media (min-width: 768px) {
    padding-top: 6rem;
    padding-bottom: 6rem;
    font-size: 1.25rem;

    h1 {
      font-size: 3.5rem;
    }
  }
}