{
  "presets": [
    "flow",
    "es2015",
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": "last 2 versions"
        },
        "loose": true,
        "modules": false
      }
    ],
    "stage-0"
  ]
}